* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.App {
  text-align: center;
  box-sizing: border-box;
   background: url("./Components/Assets/pexels-andres-ayrton-6550823.jpg");
background-repeat: no-repeat;
background-size:cover;
min-height: 100vh;
max-width: 100%;

}

